[
	{ rabbit, [
		{ loopback_users, [ ] },
		{ vm_memory_high_watermark, { absolute, 107374182 } },
		{ tcp_listeners, [ 5672 ] },
		{ ssl_listeners, [ ] },
		{ default_pass, <<"guest">> },
		{ default_user, <<"guest">> },
		{ hipe_compile, false }
	] },
	{ rabbitmq_management, [ { listener, [
		{ port, 15672 },
		{ ssl, false }
	] } ] }
].
